.*
coverage
node_modules
out
!.gitignore
!.eslintrc.json
!.private-key.json.enc
!.travis
!.travis.yml
package-lock.json
app-creator/client/redux
app-creator/client/widgets
app-creator/client/utils
app-creator/client/app.yaml
app-creator/client/build
app-creator/client/env.js
app-creator/client/client
app-creator/client/map-styles
app-creator/app.yaml
app-creator/static