html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Google Sans', Arial, sans-serif;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

:root {
  /* theme properties */
  --accent-color: #202124;
  --app-title-suffix-color: #5f6368;
  --background-color: #f5f6f9;
  --border-gray: rgba(0, 0, 0, 0.3);
  --light-border: 0.6px solid var(--border-gray);
  --light-dashed-border: 0.8px dashed var(--border-gray);
  --paper-checkbox-checked-color: var(--accent-color);
  --paper-slider-knob-color: var(--accent-color);
  --paper-slider-active-color: var(--accent-color);
  --paper-tabs-selection-bar-color: var(--accent-color);
  --primary-color: white;

  /* spacing */
  --extra-tight: 4px;
  --tight: 8px;
  --regular: 16px;
  --loose: 24px;
  --extra-loose: 32px;

  /* sizes */
  --actions-panel-width: 300px;
  --regular-border-radius: 16px;

  /* utils */
  --raised-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#editable-view {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.edit-buttons {
  background-color: white;
  border: var(--light-border);
  border-radius: var(--extra-tight);
  margin-left: var(--extra-tight);
  cursor: pointer;
}
